* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-container {
  margin: 20px auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.categoryBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.productCartContainer {
  border: 2px solid red;
  max-width: 1200px;
}